################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test Project
/Test Project.sln
/Test Project/bin
/Test Project/obj
